#mod_a1 {
  background: url(../img/opl-parallax-universe.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2em 2em 5em 2em;
}

#mod_a1 .text-a1 {
  width: 75%;
  margin: 0 auto;
  margin-top: 3em;
}

#mod_a1 .text-a1 .font1 {
  text-align: center;
}
