#menu {    
    
    .navbar {
        background: rgba(255, 255, 255, 0.9);
        margin-bottom: 0px !important;
        position: relative !important;
        >.col-lg-12{
                margin-bottom: 10px;
        }
        
        .navbar-nav{
            
            
            li {
                
                a:hover{
                     background: #e7e7e7;
    border-bottom: 3px solid #E45614;
                }
                
                a:focus{
                     background: #e7e7e7;
    border-bottom: 3px solid #E45614;
                    
                }
            }
                .active{
                            a
                            {

                                background: none;
                            }
                        }
                    }
        
        .title-logo,
        .desc-logo {
    
    margin: 0px;
    padding: 2px;
                    }
        
        .container {
            
            #navbar {
                    
                margin: 0 auto;
                    width: 43%;
                
                
                            .register {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                                       }

                ul{
                    li.active{
                        border-bottom: 3px solid transparent;
                        
                    }
                    
                    li.active:hover{
                        border-bottom: none;
                    }
                    
                    li.active:focus {
                        
                        border-bottom: none;
                    }
                    
                }
                
            }
            
        }
        
        
            }
    
    
     }




@media screen and (min-width: 500px) and (max-width: 768px)  
{
    #menu {    
    
    .navbar {
        .container {
    
    #navbar { 
    width: 70%;
    }
            }
        }
    }
    
}


@media screen and (max-width: 500px)
{
    #menu {    
    
    .navbar {
        .container {
    
    #navbar { 
    width: 100%;
    }
            }
        }
    }
    
}