#responsive-zig {
  
    
    ul {list-style: none;
        text-align: center;
        padding: 0px;
        
         
      .pabo2em {  
        padding-bottom: 4em;
        }
        
        li {
        padding-left: 1em;
            padding-right: 1em;
            
           
            h4 {
                    color: rgb(179, 179, 179);
            }
            .subzig {
                text-transform: none;
            font-size: 18px;
            color: rgb(51, 51, 51);
            }
                            
            .img-responsive {
            
            margin: 0 auto;
            border: 5px solid #E45614;;
            
            
        }
        
        
        }
    }
    
}
