
.tag-list {margin-bottom: 50px;


.tag {display: inline;
   
    a:hover {
    border: 1px solid #000;
    background: #000;
color: white;}

    
    
}

}

.type1 a {border: 1px solid #E45614;
    border-radius: 2em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 17px;
    padding-left: 17px;
    background: #E45614;
    color: #000;
    text-decoration: none;
    
}
.type2 a {border: 1px solid #7E7D7D;
    border-radius: 2em;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 17px;
    padding-left: 17px;
      background-color: #7E7D7D;
    color: #fff;
    text-decoration: none;
    
}



